/* Custom CSS */
.hide-desktop {
  display: none;
}

.price-box .price-item .price {
	color: black;
	font-size: 16px;
}

.price-box .price-item.old-price .price {
	text-decoration: line-through;
	color: var(--medium-gray);
	margin-right: 8px;
	font-size: 14px;
}

.product-box .product-footer .product-title {
	font-size: 16px;
  line-height: 1.5rem;
}

.main-product-page .product-info .product-title {
  font-size: 20px;
}

.product-summary .rating-sku-wrap {
  font-size: 14px;
}

.related_products--container {
  display: flex;
  gap: 10px;
}

.related_products--item.current {
  border: 2px solid grey;
}

.product-specification {
  margin-bottom: 25px;
}

.product-specification__table {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  text-align: left;
}

.product-specification__table .column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
}

.product-specification__table .column .key {
  font-size: 14px;
  font-weight: 500;
  width: 100%;
}

.product-specification__table .column span.value {
  font-size: 15px;
  padding: 0 5px;
  background-color: #fdf7f3;
  width: 100%;
  font-weight: 600;
}

.product-title-block { 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

details {
  border-bottom: 1px solid #e7e7e7;
}

details[open] summary .feather-plus,
details summary .feather-minus {
  display: none;
}

details[open] summary .feather-minus,
details summary .feather-plus {
  display: inline;
}

summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

summary h5 {
  margin-bottom: 0;
  font-size: 18px;
}

details .content {
  padding: 10px;
}

details .content ul {
  padding-left: 30px;
}

.banner-image-wrapper .image-list {
  display: flex;
}

.banner-image-wrapper .image-list div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.megamenu .menu .megamenu-menu--items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: left;
}

.text-end {
  text-align: right;
}

@media (max-width: 767px) {
  .hide-desktop {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  .product-summary .rating-sku-wrap {
    font-size: 12px;
  }

  .product .price {
    font-size: var(--font_size);
  }

  .product .price .price__compare {
    font-size: var(--font_size_minus4);
  }

  .product-title-block { 
    align-items: start;
  }

  .banner-image-wrapper .image-list {
    flex-wrap: wrap;
  }
}